# Android & Gradle Git Ignore
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
/schemas
/.tools
node_modules/
expo-app/node_modules/
.expo/
expo-app/.expo/
expo-app/dist/
expo-app/android/
expo-app/ios/
*.mp4
!expo-app/assets/*.mp4
!expo-app/assets/**/*.mp4

